{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project-Game{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'game' %}">Игра</a>
        <a href="{% url 'rating' %}">Рейтинг</a>
        <a href="{% url 'blog' %}">Блог</a>
        <a href="{% url 'news' %}">Новости</a>
        <a href="{% url 'roadmap' %}">Roadmap</a>
    </div>
    <div class="main-content">
        {% block content %}
        <div class="project-title">Project-Game</div>
        <div class="project-description">Описание проекта</div>
        <div class="game-link">
            <a href="{% url 'gamesss' %}">Ссылка на игру</a>
        </div>
        <div class="social-links">
            <img src="{% static 'images/icon1.png' %}" alt="Icon 1">
            <img src="{% static 'images/icon2.png' %}" alt="Icon 2">
            <img src="{% static 'images/icon3.png' %}" alt="Icon 3">
            <img src="{% static 'images/icon4.png' %}" alt="Icon 4">
        </div>
        {% endblock %}
    </div>
</body>
</html>
